.project1Card{
    border: 1px solid rgb(181, 60, 181);
    border-radius: 25px;
    box-shadow: 5px 5px 10px linear-gradient(to bottom right, rgb(153, 0, 255), rgb(255, 0, 191));
    margin: 15px ;
    padding: 15px 0px;
}
/* button{
    color: black;
    background-color: rgb(226, 153, 43);
    font-size: 1.3rem;
    border: 1px solid blue;
    border-left: none;
    background: linear-gradient(-45deg, #f62d6c, rgb(248, 39, 161), rgb(198, 40, 246), rgb(127, 44, 243));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button:hover{
    box-sizing: border-box;
    color: beige;
    background-color: rgb(174, 43, 226);
    box-shadow: 5px solid rgb(175, 248, 195);
    width: 90%;
    border: 1px solid greenyellow;
} */
